doctype xml
wfs:WFS_Capabilities(version="2.0.0" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns="http://www.opengis.net/wfs/2.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:fes="http://schemas.opengis.net/filter/2.0/filterAll.xsd" xmlns:xlink="http://www.w3.org/1999/xlink")

   ows:ServiceIdentification
      ows:Title Mon titre de WFS
      ows:Abstract
      ows:Keywords
         ows:Keyword wfs
         ows:Keyword opensource
         ows:Keyword wfs-server.git
      ows:ServiceType WFS
      ows:ServiceTypeVersion 2.0.0
      ows:Fees NONE
      ows:AccessConstraints NONE

   ows:ServiceProvider
      ows:ProviderName 
      ows:ServiceContact
         ows:IndividualName 
         ows:PositionName 
         ows:ContactInfo
            ows:Phone
               ows:Voice 
               ows:Facsimile 

            ows:Address
               ows:City 
               ows:AdministrativeArea 
               ows:PostalCode 
               ows:Country

   ows:OperationsMetadata
      ows:Operation(name="GetCapabilities")
         ows:DCP
            ows:HTTP
               ows:Get(xlink:href=''+url+'')

         ows:Parameter(name="AcceptVersions")
            ows:AllowedValues
               ows:Value 2.0.0

         ows:Parameter(name="AcceptFormats")
            ows:AllowedValues
               ows:Value text/xml

      ows:Operation(name="DescribeFeatureType")
         ows:DCP
            ows:HTTP
               ows:Get(xlink:href=''+url+'')

         ows:Parameter(name="outputFormat")
            ows:AllowedValues
               ows:Value json
               ows:Value application/json

      ows:Operation(name="GetFeature")
         ows:DCP
            ows:HTTP
               ows:Get(xlink:href=''+url+'')

         ows:Parameter(name="resultType")
            ows:AllowedValues
               ows:Value results
               ows:Value hits

         ows:Parameter(name="outputFormat")
            ows:AllowedValues
               ows:Value json
               ows:Value application/json

         ows:Constraint(name="CountDefault")
            ows:DefaultValue= max

   FeatureTypeList
      each val in layers
         FeatureType
            Name= val.name
            Title= val.title
            ows:Keywords
               ows:Keyword= val.name

            DefaultCRS= val.srs
            ows:WGS84BoundingBox
               ows:LowerCorner= val.lowerCorner
               ows:UpperCorner= val.upperCorner

   fes:Filter_Capabilities